/*HEADER*/
header .container{ 
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: var(--space-m);
    border-bottom: 2px solid var(--col-txt);
    position: relative;
}

    .logo{
        display: flex;
        width: 200px;
        height: auto;
        max-width: 50%;
    }
        .logo__link {

        }
        
        .logo__img{ /*Logo image*/
            object-fit: contain;
            width: 100%;

        }
    .nav {
        display: flex;
        align-items: end;
        
    }
        .nav__btn {
            background: transparent;
            border: none;
            cursor: pointer;
        }
            .nav-btn__icn {
                font-size: 2rem;
            }
        .nav--main__list{
            display: none;
            flex-direction: column;
            position: absolute;
            left:0;
            bottom: 0;
            width: 100%;
            background: var(--col-bg);
            box-shadow: 0 4px 4px var(--dark-transparent);
            border-top: 3px solid var(--col-txt);
            transform: translateY(100%);
            padding: var(--space-s);
            gap: var(--);
        }
        .nav-list--active {
            display: flex;
        }
            .nav__item {
                font-size: 1.1em;
                font-weight: 700;
            }
@media only screen and  (min-width:1000px){ 
    .nav__btn{ 
        display: none;
    }
    .nav__list{ 
        display: flex;
        position: static;
        transform: unset;
        border: none;
        box-shadow: none;
        flex-direction: row;
        gap: var(--space-s);

    }
    .nav__item::after{ 
        transform: scale(0) ;
        transform-origin: left;
        position: absolute;
        content:'';
        width: 90%;
        bottom:0;
        height: 2px;
        background: var(--col-txt);
        left: 0;
        transition: .4s ease-in-out;
    }
    .nav__item:hover::after{ 
        
        transform: scale(1) translateX(5%); /*half of 100% - width obove*/

    }
}
.hero {
    text-align: center;
    overflow: hidden;
}
    .hero-content{ 
        gap: var(--space-m);       
    }
    .hero p {
        font-size: var(--fs-h-300);
        margin-bottom: 2rem;
    }
