html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
/* import georgia*/

@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Regular'), url('/Fonts/georgia.woff') format('woff');
    }
    

    /* @font-face {
    font-family: 'Georgia Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Italic'), url('georgiai.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Georgia Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Bold'), url('georgiab.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Georgia Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Bold Italic'), url('georgiaz.woff') format('woff'); 
    }*/


:root{
--brand-peach-pink: #fce9d3 ;
--brand-chocolate-brown: #47311f;
--brand-peach-beige: #f8d6af;
--brand-peach-red: #c95f55;
--brand-peach-orange: #f4be8e;
--brand-dust-pink: #e0b3bd; 

/* COLOURS */
--col-txt: var(--brand-chocolate-brown) ;
--col-heading: var(--col-txt) ;
--col-bg: var(--brand-peach-pink) ;

/*Button colors*/
--col-btn-txt: var(--brand-peach-red);
--col-btn-bg: var(--brand-peach-beige);
    /*Button styles - other*/
    --btn-border: 2px solid var(--col-btn-txt);
    --btn-radius: .25rem;
    --btn-padding: 1.25em 2em;


--dark-transparent: #47311f90; 
--light-transparent: #fce9d380; 
--accent-transparent: hsla(120, 50%, 40%, .5); 
--container-width: 1140px;
--spacing--l: calc(2vh + 2vw);
--spacing--m: calc(1.5vh + 1.5vw);
--spacing--s: calc(.4vh + 04vw);
--spacing--xs: calc(.1vh + .1vw);
--txt-shadow:  0 0 15px black;

/* @link https://utopia.fyi/type/calculator?c=300,15,1.2,1140,17,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* Font sizes*/
/* --fs-b-2: clamp(0.651rem, 0.6407rem + 0.0552vw, 0.68rem); */
--fs-b-100: clamp(0.9rem, 0.8rem + 0.131vw, 1.1rem);
--fs-h-100: clamp(0.9375rem, 0.8929rem + 0.2381vw, 1.0625rem);
--fs-h-200: clamp(1.125rem, 1.0525rem + 0.3869vw, 1.3281rem);
--fs-h-300: clamp(1.35rem, 1.2392rem + 0.5908vw, 1.6602rem);
--fs-h-400: clamp(1.62rem, 1.4574rem + 0.867vw, 2.0752rem);
--fs-h-500: clamp(1.944rem, 1.7119rem + 1.2381vw, 2.594rem);
--fs-h-600: clamp(2.3328rem, 2.0079rem + 1.7327vw, 3.2425rem);

/*Font Styles*/
--ff-body: "Playfair Display", "Times New Roman", "Arial", "Helvetica", "Verdana", "Tahoma", sans-serif;
--ff-titles: "Georgia", "Times New Roman", "Arial", "Helvetica", "Verdana", "Tahoma", sans-serif;

/*Spacings*/
--space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
--space-2xs: clamp(0.5rem, 0.4777rem + 0.119vw, 0.5625rem);
--space-xs: clamp(0.6875rem, 0.6429rem + 0.2381vw, 0.8125rem);
--space-s: clamp(0.9375rem, 0.8929rem + 0.2381vw, 1.0625rem);
--space-m: clamp(1.4375rem, 1.3705rem + 0.3571vw, 1.625rem);
--space-l: clamp(1.875rem, 1.7857rem + 0.4762vw, 2.125rem);
--space-xl: clamp(2.8125rem, 2.6786rem + 0.7143vw, 3.1875rem);
--space-2xl: clamp(3.75rem, 3.5714rem + 0.9524vw, 4.25rem);
--space-3xl: clamp(5.625rem, 5.3571rem + 1.4286vw, 6.375rem);


--space-sect--ver: var(--space-l);
--space-sect--hor: var(--space-xs);

/*Grid styles*/
--grid-l-col: repeat(auto-fit, minmax( min(10rem, 100%) , 1fr));
--grid-m-col: repeat(auto-fit, minmax( min(30rem, 100%) , 1fr));
--grid-s-col: repeat(auto-fit, minmax( min(20rem, 100%) , 1fr));

}
.grid-l {
    display: grid;
    grid-template-columns: var(--grid-l-col);
    gap: var(--space-l); 
  }
.grid-m {
    display: grid;
    grid-template-columns: var(--grid-m-col);
    gap: var(--space-l); 
}
.grid-s {
    display: grid;
    grid-template-columns: var(--grid-s-col);
    gap: var(--space-l); 
}

input, button, textarea, select {
    font: inherit;
}

body{
    font-family:var(--ff-body);
    font-size: var(--fs-b-100);
    color: var(--col-txt);
    background: var(--col-bg);
}
h1, h2, h3 , h4, h5, h6 {
    color: var(--col-heading);
    font-family: var(--ff-titles);
}

h1  {
    font-size: var(--fs-h-600);
}
h2{
    font-size: var(--fs-h-500);
}
h3 {
    font-size: var(--fs-h-400);
}

/*Section styles with container*/
section:has(.container), header, footer {
    padding: var(--space-sect--ver) var(--space-sect--hor) ;
}

    section .container, footer .container, header .container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-s);
    max-width: 1150px;
    }


/*button styles*/
.btn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-xs);
}
    .btn-wrap > * {
        flex-shrink: 0;
    }

    .btn {
        padding: var(--btn-padding);
        border-radius: var(--btn-radius);
        border: var(--btn-border);
        line-height: 1;
        display: flex;
    }
    a.btn {
        text-decoration: inherit;
        color:inherit;
        border-radius:  inherit;
    }
/*MENU STYLES*/
.nav__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
    .nav__item{ 
        padding: var(--space-3xs);
        position: relative;
    }
        .nav__link{
            color: inherit;
            text-decoration: inherit;
        }
        .nav__link:before {
            position: absolute;
            inset: 0;
            content: '';
        }
