<div class="container container--header">
    
        <div class="logo">
            <a href="/">
                <img class="logo__img" src="/media/Paige and Simon Logo.png" alt="Logo">
            </a>
        </div>
        <nav class="nav--main nav">
            <button id="nav-btn" class="nav__btn nav--main__btn">
                <i class="nav-btn__icn fa-solid fa-bars"></i>
            </button>
            <ul id="nav-list" class="nav__list nav--main__list">
                <li class="nav__item"><a class="nav__link" href="/">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="/news.html">News</a></li>
                <li class="nav__item"><a class="nav__link" href="/book-tour.html">Book Tour</a></li>
                <li class="nav__item"><a class="nav__link" href="/convention.html">Convention</a></li>
                <li class="nav__item"><a class="nav__link" href="/index.html#books">Books</a></li>
            </ul>
    
    </nav>
</div>